<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img width="20%" src="assets/img/logo.png" alt="Global">
                    </a>
                    <app-navbar></app-navbar>
                    <div class="header--nav-toggle">
                        <span></span>
                    </div>
                </header>
                <nav class="l-side-nav">
                    <ul class="side-nav">
                        <li class="is-active"><span>C'est qui Quickoo ?</span></li>
                        <li><span>Nos clients</span></li>
                        <li><span>Nos services</span></li>
                        <li><span>Contact</span></li>
                        <li><span>Hire us</span></li>
                    </ul>
                </nav>
                <ul class="l-main-content main-content">
                    <li class="l-section section section--is-active">
                        <div style="padding-top:30px ;" class="intro">
                            <div class="intro--banner">
                                <h1>La <span style="color: #e85f03;">logistique</span><br>au service<br>du <span style="color: #e85f03;">e</span>-commerce</h1>
                                <div class="text" style="margin-bottom: 60px;">
                                    <p>
                                        <span style="font-size: 3em; color:#e85f03">Q</span>uickoo est le partenaire de croissance idéal.</p>
                                    <p style="width: 50%;"> Notre plateforme permet aux e-commerçants de passer moins de temps à gérer leur logistique tout en gardant un maximum de contrôle. Concentrez-vous sur la croissance de vos ventes, gardez vos dépenses sous contrôle et
                                        livrez vos clients en temps voulu.
                                    </p>
                                </div>
                                <div style="padding-left:50px ;" class="image"> <img width="65% " src="assets/img/pc.png " alt="Welcome ">

                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="about ">
                            <div class="about--banner ">
                                <h2>Une<br>procédure<br>simple<br>et efficace</h2>
                                <a href="#0 ">Suivez La Commande
                    <span>
                      <svg version="1.1 " id="Layer_1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 150 118 " style="enable-background:new 0 0 150 118; " xml:space="preserve ">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000) ">
                        <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z "/>
                      </g>
                      </svg>
                    </span>
                  </a>
                                <img style="padding-bottom: 80px;" width="50%" src="assets/img/main.png " alt="About Us ">
                            </div>
                            <div class="about--options ">
                                <a href="#0 ">
                                    <h3>Gagnez du temps </h3>
                                </a>
                                <a href="#0 ">
                                    <h3>Livrer partout</h3>
                                </a>
                                <a href="#0 ">
                                    <h3>Faites des économies</h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section ">
                        <div style="padding-top:10px ;" class="intro">
                            <div class="intro--banner" style="display: flex;">

                                <div style="order: 1">
                                    <img style="display: block;" width="40% " src="assets/img/info2.png " alt="Welcome ">
                                </div>
                                <div class="text" style="margin-bottom: 60px;order: 2 ">
                                    <h1><span style="color: #e85f03;">Améliorez
                                    </span><br> votre satisfaction <br><span style="color: #e85f03;">client</span></h1>

                                    <p>
                                        <span style="font-size: 3em; color:#e85f03">Q</span>uickoo est le partenaire de croissance idéal.</p>
                                    <p style="width: 50%;"> Quickoo vous garantit l'expédition de l'intégralité de vos commandes sur le jour que vous choisissez, peu importe la quantité ou la destination. Bénéficiez de la meilleure qualité de livraison disponible à l'aide de
                                        notre plateforme. Votre client est assuré de recevoir sa commande en temps et en heure. Accédez à des délais de livraison parmi les plus bas du marché.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="about ">
                            <div class="about--banner ">
                                <h2>Une<br>procédure<br>simple<br>et efficace</h2>
                                <a href="#0 ">Suivez La Commande
                    <span>
                      <svg version="1.1 " id="Layer_1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 150 118 " style="enable-background:new 0 0 150 118; " xml:space="preserve ">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000) ">
                        <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z "/>
                      </g>
                      </svg>
                    </span>
                  </a>
                                <img style="padding-bottom: 80px;" width="70%" src="assets/img/pc.png " alt="About Us ">
                            </div>
                            <div class="about--options ">
                                <a href="#0 ">
                                    <h3>Gagnez du temps </h3>
                                </a>
                                <a href="#0 ">
                                    <h3>Livrer partout</h3>
                                </a>
                                <a href="#0 ">
                                    <h3>Faites des économies</h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="about ">
                            <div class="about--banner ">
                                <h2>Une<br>procédure<br>simple<br>et efficace</h2>
                                <a href="#0 ">Suivez La Commande
                    <span>
                      <svg version="1.1 " id="Layer_1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 150 118 " style="enable-background:new 0 0 150 118; " xml:space="preserve ">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000) ">
                        <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z "/>
                      </g>
                      </svg>
                    </span>
                  </a>
                                <img style="padding-bottom: 120px;" width="50%" src="assets/img/info.png " alt="About Us ">
                            </div>
                            <div class="about--options ">
                                <a href="#0 ">
                                    <h3>Gagnez du temps </h3>
                                </a>
                                <a href="#0 ">
                                    <h3>Livrer partout</h3>
                                </a>
                                <a href="#0 ">
                                    <h3>Faites des économies</h3>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav ">
        <li class="is-active ">C'est qui Quickoo ?</li>
        <li>Nos clients</li>
        <li>Nos services</li>
        <li>Contact</li>
        <li>Hire us</li>
    </ul>
</div>