.intro--banner::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: -15px;
    right: 0;
    height: 2px;
    background-color: #568510;
}

.text {
    width: 55%;
}

.text2 {
    width: 65%;
}

.parag::before {
    display: inline-block;
    content: "";
    /* background-size: 24px 24px; */
    height: 12px;
    width: 12px;
    /* margin-right: 14px; */
    background-color: #568510;
    position: relative;
    top: 2px;
    border-radius: 50%;
    margin-right: 7px;
}

@media (max-width: 600px) {
    .text {
        width: 100%;
    }
    .text2 {
        width: 100%;
    }
    .client {
        margin-top: 90px;
    }
}

.pc {
    bottom: -30px;
    right: -180px;
}

@media (max-width: 900px) {
    .pc {
        bottom: 0;
        right: 0;
    }
}