<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img width="100%" src="assets/img/logo.png" alt="Global">
                    </a>
                    <div class="nav-bar">
                        <app-navbar [nav]="2"></app-navbar>
                    </div>
                    <a class="espace" routerLink="/Auth" class="espace" style="
                    color: #FFF;
                    text-decoration: none;
                    margin: 0px 10px;
                    padding: 10px 10px;
                    z-index: 0;
                    cursor: pointer;
                    background-color: #e85f03;
                    width: auto;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 10px;
                  
                ">MON ESPACE</a>
                    <div class="header--nav-toggle">
                        <span></span>
                    </div>
                </header>
                <nav class="l-side-nav">
                    <ul class="side-nav">
                        <li class="is-active"><span>Logistique</span></li>
                        <li><span>Vos Clients</span></li>
                        <li><span>Collecte</span></li>
                        <li><span>Emballage</span></li>
                        <li><span>Coûts</span></li>
                    </ul>
                </nav>
                <ul class="l-main-content main-content">
                    <li class="l-section section section--is-active">
                        <div style="padding-top:30px ;" class="intro">
                            <div class="intro--banner">
                                <h1>La <span style="color: #e85f03;">logistique</span><br>au service<br>du <span style="color: #e85f03;">e</span>-commerce.</h1>
                                <div class="text" style="margin-bottom: 60px;">
                                    <p>
                                        - <span style=" color:#e85f03"><b>QUICKOO</b></span> est le partenaire de croissance idéal.</p>
                                    <p>- Notre plateforme permet aux e-commerçants de passer moins de temps à gérer leur logistique tout en gardant un maximum de contrôle.
                                    </p>
                                    <p>
                                        - Concentrez-vous sur la croissance de vos ventes, gardez vos dépenses sous contrôle et livrez vos clients en temps voulu.
                                    </p>
                                </div>
                                <div style="padding-left:50px ;" class="image"> <img class="pc" width="80% " src="assets/img/pc.png " alt="Welcome ">

                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="about ">
                            <div class="intro--banner client">
                                <h1><span style="color: #e85f03;">Améliorez</span><br> votre satisfaction<br><span style="color: #e85f03;">client</span>.</h1>
                                <div class="text" style="margin-bottom: 60px;">
                                    <p>
                                        - <span style=" color:#e85f03"><b>QUICKOO</b></span> vous garantit l'expédition de l'intégralité de vos commandes sur le jour que vous choisissez, peu importe la quantité ou la destination.
                                    </p>
                                    <p>
                                        - Bénéficiez de la meilleure qualité de livraison disponible à l'aide de notre plateforme.

                                    </p>
                                    <p>
                                        - Votre client est assuré de recevoir sa commande en temps et en heure.
                                    </p>
                                    <p>
                                        - Accédez à des délais de livraison parmi les plus bas du marché.
                                    </p>
                                </div>
                                <div style="padding-left:50px ;" class="image"> <img width="80% " class="pc" src="assets/img/info2.png " alt="Welcome ">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section ">
                        <div style="padding-top:10px ;" class="intro">
                            <div class="intro--banner">
                                <h1>Une <span style="color: #e85f03;">collecte</span><br>Rapide<br>et <span style="color: #e85f03;">Efficace</span>.</h1>
                                <div class="text" style="padding-top:20px">
                                    <p>
                                        - Nous collectons vos produits en moins de temps.
                                    </p>
                                    <p>
                                        - Nos algorithmes nous permettent de choisir le mode de transport adapté à la collecte de vos produits.

                                    </p>
                                    <p>
                                        - Passez plus de temps avec vos clients et moins à emballer et à déposer vos colis en bureau de Poste.
                                    </p>
                                </div>
                                <div style="padding-left:50px ;" class="image"> <img width="80% " class="pc" src="assets/img/ravon2.png " alt="Welcome ">

                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="about ">
                            <div class="intro--banner">
                                <h1>Des
                                    <span style="color: #e85f03;">emballages</span><br> adaptés <br>à vos <span style="color: #e85f03;">produits</span>.</h1>
                                <div class="text" style="margin-bottom: 60px;">
                                    <p>
                                        - Des vêtements aux chaussures en passant par les produits cosmétiques et les bijoux, nous emballons tous types de produits.
                                    </p>
                                    <p>
                                        - Nos préparateurs de commande utilisent des techniques d’emballage qui assurent la protection optimale de vos produits jusqu’à la livraison chez votre client.

                                    </p>

                                </div>
                                <div style="padding-left:50px ;" class="image"> <img width="70% " class="pc" src="assets/img/main.png " alt="Welcome ">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="about ">
                            <div class="intro--banner">
                                <h1>Comprenez <br><span style="color: #e85f03;">vos coûts </span><br>en un clin d'oeil.</h1>
                                <div class="text" style="margin-bottom: 60px;">
                                    <div class="text" style="margin-bottom: 60px; width : 100%">
                                        <p>
                                            - Parce que Quickoo devient votre unique interlocuteur logistique, vous n'avez plus à additionner vos factures pour connaître vos coûts logistiques.
                                        </p>
                                        <p>
                                            - Notre plateforme vous donne un aperçu clair de vos dépenses et vous pouvez anticiper vos coûts pour les mois à venir.

                                        </p>

                                    </div>
                                </div>
                                <div style="padding-left:50px ;" class="image"> <img width="70% " class="pc" src="assets/img/info.png " alt="Welcome ">

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav ">
        <li><span><a style="text-decoration: none; color:#FFF" href="/" >ACCEUIL</a></span></li>
        <li class="is-active"><span><a style="text-decoration: none; color:#FFF" href="/Quickoo" >QUICKOO</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Tarifs" >TARIFS</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Service" >SERVICE</a></span></li>
    </ul>
</div>