<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img width="100%" src="assets/img/logo.png" alt="Global">
                    </a>
                    <div class="nav-bar">
                        <app-navbar [nav]="2"></app-navbar>
                    </div>
                    <a class="espace" routerLink="/Auth" class="espace" style="
                    color: #FFF;
                    text-decoration: none;
                    margin: 0px 10px;
                    padding: 10px 10px;
                    z-index: 0;
                    cursor: pointer;
                    background-color: #568510;
                    width: auto;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 10px;
                  
                ">MON ESPACE</a>
                    <div class="header--nav-toggle">
                        <span></span>

                    </div>
                </header>
                <nav class="l-side-nav">
                    <ul class="side-nav">
                        <li class="is-active"><span>Rafex Delivery</span></li>
                        <li><span>Satisfaction</span></li>
                        <li><span>Collecte</span></li>
                        <li><span>Emballage</span></li>
                        <li><span>Tracking</span></li>
                    </ul>
                </nav>
                <ul class="l-main-content main-content">
                    <li class="l-section section section--is-active">
                        <div style="padding-top:30px ;" class="intro">
                            <div class="intro--banner">
                                <h1><span style="color: #568510;">Rafex</span><br>une société <br>de livraison marocaine.</h1>
                                <div class="text" style="margin-bottom: 60px;">
                                    <p class="parag">
                                        <span style=" color:#568510"><b> Rafex</b></span> spécialisée dans la livraison d&#39;achats en ligne dans les régions de Rabat-Salé-Kénitra et Casablanca-Settat.</p>
                                    <p class="parag"> Nous proposons une gamme complète de services, y inclus l&#39;expédition, la collecte, la livraison et la gestion des retours de paiement.
                                    </p>
                                    <p class="parag">
                                        <span style=" color:#568510"><b>Rafex</b></span> est le partenaire parfait pour favoriser la croissance.
                                    </p>
                                </div>
                                <div style="padding-left:50px ;" class="image"> <img class="pc" width="80% " src="assets/img/pc.png" alt="Welcome ">

                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="about ">
                            <div class="intro--banner client">
                                <h1><span style="color: #568510;">Améliorez</span><br> votre satisfaction<br><span style="color: #568510;">client</span>.</h1>
                                <div class="text2">
                                    <p class="parag">
                                        <span style=" color:#568510"><b> Rafex Delivery</b></span> assure l&#39;expédition de toutes vos commandes à la date de votre choix, peu importe le volume vers les régions de Rabat-Salé-Kénitra et Casablanca-Settat.
                                    </p>
                                    <p class="parag">
                                        Profitez de la meilleure qualité de livraison offerte par notre plateforme.

                                    </p>
                                    <p class="parag">
                                        Votre client est assuré de recevoir sa commande à temps.
                                    </p>
                                    <p class="parag">
                                        Bénéficiez de délais de livraison parmi les plus courts du marché.
                                    </p>
                                </div>
                                <div style="padding-left:50px ;" class="image"> <img width="80% " class="pc" src="assets/img/info2.png " alt="Welcome ">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section ">
                        <div style="padding-top:10px ;" class="intro">
                            <div class="intro--banner">
                                <h1>Une <span style="color: #568510;">collecte</span><br>Rapide<br>et <span style="color: #568510;">Efficace</span>.</h1>
                                <div class="text">
                                    <p class="parag">
                                        Nous collectons vos produits rapidement.
                                    </p>
                                    <p class="parag">
                                        Nos algorithmes sélectionnent le mode de transport idéal pour récupérer vos produits.

                                    </p>
                                    <p class="parag">
                                        Consacrez plus de temps à vos clients et moins à emballer et à déposer vos colis en bureau de poste.
                                    </p>
                                </div>
                                <div style="padding-left:50px ;" class="image"> <img width="70% " class="pc" src="assets/img/ravon2.png " alt="Welcome ">

                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="about ">
                            <div class="intro--banner">
                                <h1>Des
                                    <span style="color: #568510;">Emballages</span><br> adaptés <br>à vos <span style="color: #568510;">Produits</span>.</h1>
                                <div class="text" style="margin-bottom: 60px;">
                                    <p class="parag">
                                        Nous emballons une grande variété de produits, incluant vêtements, chaussures, produits cosmétiques et bijoux.
                                    </p>
                                    <p class="parag">
                                        Nos préparateurs de commande utilisent des méthodes d&#39;emballage assurant une protection maximale de vos articles jusqu&#39;à leur livraison chez votre client.
                                    </p>

                                </div>
                                <div style="padding-left:50px ;" class="image"> <img width="70% " class="pc" src="assets/img/main.png " alt="Welcome ">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="about ">
                            <div class="intro--banner">
                                <h1>Système de <br><span style="color: #568510;">Tracking.</span></h1>
                                <div class="text" style="margin-bottom: 60px;">
                                    <div class="text" style="margin-bottom: 60px; width : 100%">
                                        <p class="parag">
                                            Nous avons développé une application exclusive pour la gestion des livraisons, accessible via ordinateur et mobile grâce à une interface simple d&#39;utilisation, en vous garantissant :
                                        </p>
                                        <p class="parag">Un processus de livraison digitalisé</p>
                                        <p class="parag">Un tracking en temps réel et détaillé.</p>
                                        <p class="parag">La gestion de vos paiements et factures.</p>
                                        <p class="parag">La gestion des demandes et le suivi des ramassages.</p>
                                        <p class="parag">Le suivi de votre stock.</p>
                                        <p class="parag">Le suivi des retours.</p>

                                        <p class="parag">
                                            Notre plateforme vous offre une vue précise de vos dépenses, vous permettant d&#39;anticiper vos coûts pour les mois à venir.
                                        </p>
                                    </div>
                                </div>
                                <div style="padding-left:50px ;" class="image"> <img width="70% " class="pc" src="assets/img/info.png " alt="Welcome ">

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav ">
        <li><span><a style="text-decoration: none; color:#FFF" href="/" >Accueil</a></span></li>
        <li class="is-active"><span><a style="text-decoration: none; color:#FFF" href="/Rafex Delivery" >Rafex</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Tarifs" >Nos Tarifs</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Service" >Nos Services</a></span></li>
    </ul>
</div>