<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img width="100%" src="assets/img/logo.png" alt="Global">
                    </a>
                    <div class="nav-bar">
                        <app-navbar [nav]="4"></app-navbar>
                    </div>
                    <a class="espace" routerLink="/Auth" class="espace" style="
                    color: #FFF;
                    text-decoration: none;
                    margin: 0px 10px;
                    padding: 10px 10px;
                    z-index: 0;
                    cursor: pointer;
                    background-color: #e85f03;
                    width: auto;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 10px;
                  
                ">MON ESPACE</a>
                    <div class="header--nav-toggle">
                        <span></span>
                    </div>

                </header>
                <nav class="l-side-nav">
                    <ul class="side-nav">
                        <li class="is-active"><span>Nos Services</span></li>
                        <li><span>Collecte</span></li>
                        <li><span>Stockage</span></li>
                        <li><span>Emballage</span></li>
                        <li><span>Expédition</span></li>
                    </ul>
                </nav>
                <ul class="l-main-content main-content">
                    <li class="l-section section section--is-active">
                        <div style="padding-top:30px ; " class="intro">
                            <div class="intro--banner" style="display:flex ; height:auto">
                                <div>
                                    <div class="top-line"></div>
                                    <h1 class="titre">Collecte, Stockage, Emballage et Expédition.
                                    </h1>
                                </div>

                                <img class="image-gauche" style="position: relative; " src="assets/img/icon.png" alt="">
                            </div>
                            <div class="line"></div>
                            <p style="font-size: 1.5em;">
                                <span style="color: #e85f03;font-weight: bold;">QUICKOO.ma</span> expédie autrement vos commandes. Gardez vos forces et occupez-vous uniquement de la croissance de votre e-commerce.
                            </p>


                        </div>
                    </li>
                    <li class="l-section section">
                        <div style="padding-top:30px ; " class="intro">
                            <div class="intro--banner" style="display:flex ; height:auto">
                                <div>
                                    <h1 class="titre" style="font-size: 6em;">Une Collecte Efficiente
                                    </h1>
                                </div>

                                <img class="image-gauche" style="position: relative; width:50%" src="assets/img/SPRINTER.png" alt="">
                            </div>
                            <div class="line"></div>
                            <p style="font-size: 1.5em;">
                                <span style="color: #e85f03;font-weight: bold;">Nos services logistiques</span> planifient le ramassage et organisent la collecte de vos produits en moins de deux heures.
                            </p>


                        </div>

                    </li>
                    <li class="l-section section">
                        <div style="padding-top:30px ; " class="intro">
                            <div class="intro--banner" style="display:flex ; height:auto">
                                <div>
                                    <h1 class="titre" style="font-size: 8.5em;">Stockage
                                    </h1>
                                </div>

                                <img class="image-gauche" style="position: relative; width:40%" src="assets/img/stock.png" alt="">
                            </div>
                            <div class="line"></div>
                            <p style="font-size: 1.5em;">
                                Profitez d’un <span style="color: #e85f03;font-weight: bold;">stockage GRATUIT</span> pour 15 jours et d'un suivi précis de vos stocks pour anticiper vos ruptures et gérer au mieux votre logistique e-commerce.</p>


                        </div>

                    </li>
                    <li class="l-section section">
                        <div style="padding-top:30px ; " class="intro">
                            <div class="intro--banner" style="display:flex ; height:auto">
                                <div>
                                    <h1 class="titre">Des emballages adaptés à vos produits.
                                    </h1>
                                </div>

                                <img class="image-gauche" style="position: relative; width:120%" src="assets/img/sachet2.png" alt="">
                            </div>
                            <div class="line"></div>
                            <p style="font-size: 1.5em;">
                                <span style="color: #e85f03;font-weight: bold;">Nous emballons</span> vos commandes selon vos choix de types d’emballages et en suivant votre cahier des charges.</p>


                        </div>
                    </li>
                    <li class="l-section section">
                        <div style="padding-top:30px ; " class="intro">
                            <div class="intro--banner" style="display:flex ; height:auto">
                                <div>
                                    <h1 class="titre" style="font-size: 8.5em;">Expédition
                                    </h1>
                                </div>

                                <img class="image-gauche" style="position: relative; width:50%" src="assets/img/car.png" alt="">
                            </div>
                            <div class="line"></div>
                            <p style="font-size: 1.5em;">
                                Nous expédions vos produits en vous faisant bénéficier des tarifs les plus intéressants du marché. Profitez des meilleurs services possibles
                                <span style="color: #e85f03;font-weight: bold;">(Standard - Express - Point Relais).</span></p>


                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav ">
        <li class="is-active"><span><a style="text-decoration: none; color:#FFF" href="/" >ACCEUIL</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Quickoo" >QUICKOO</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Tarifs" >TARIFS</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Service" >SERVICE</a></span></li>
    </ul>
</div>