<nav class="navbar" style="
padding-top: 20px;
">
    <div class="container-fluid">
        <div class="test green borderXwidth">
            <a routerLink="/devis">
                Voir les demandes de devis</a>
            <a href="">
                <- Retour au Site web</a>
                    <a (click)="onSignOut()">Deconnexion</a>

        </div>
    </div>
</nav>




<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-12">
            <h2 style="
            text-align: center;
            font-size: 4em;
            color: #568510;
        ">Les contacts</h2>
            <div class="list-group btnlist">
                <button style="
                background: #56851000;
                color: white;
                margin-bottom: 10px;
            " class="list-group-item " *ngFor="let contact of contacts; let i = index" (click)="onViewContact(i)">
              <h3 style="color:#568510" class="list-group-item-heading">
                {{ contact.name }}
                <button class="btn btn-default pull-right" (click)="onDeleteContact(contact)">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                </h3>
                <p class="list-group-item-text">email: {{ contact.email }}</p>
                <p class="list-group-item-text">Date: {{ contact.date }}</p>
                </button>
            </div>
        </div>
    </div>
</div>