div.test a {
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
}


/* Border X get width  */

div.borderXwidth a:before,
div.borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #568510;
    transition: all 0.3s;
}

div.borderXwidth a:before {
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after {
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before,
div.borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
}

a.activeCin:before,
a.activeC:after {
    opacity: 1;
    width: 100%;
}

div.test a.activeC:before,
div.test a.activeC:after {
    opacity: 1;
    width: 100%;
}

@media (max-width: 700px) {
    .navbar {
        display: none;
    }
    .espace {
        width: auto;
        left: auto;
    }
}