<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img width="100%" src="assets/img/logo.png" alt="Global">
                    </a>
                    <div class="nav-bar">
                        <app-navbar [nav]="1"></app-navbar>
                    </div>
                    <a class="espace" routerLink="/Auth" class="espace" style="
                    color: #FFF;
                    text-decoration: none;
                    margin: 0px 10px;
                    padding: 10px 10px;
                    z-index: 0;
                    cursor: pointer;
                    background-color: #e85f03;
                    width: auto;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 10px;
                  
                ">MON ESPACE</a>
                    <div class="header--nav-toggle">
                        <span></span>
                    </div>

                </header>
                <nav class="l-side-nav">
                    <ul class="side-nav">
                        <li class="is-active"><span>C'est qui Quickoo ?</span></li>
                        <li><span>Nos services</span></li>
                        <li><span>Nos clients</span></li>
                        <li><span>Contact</span></li>
                        <li><span>Hire us</span></li>
                    </ul>
                </nav>
                <ul class="l-main-content main-content">
                    <li class="l-section section section--is-active">
                        <div style="padding-top:30px ;" class="intro">
                            <div class="intro--banner">
                                <h1>La <span style="color: #e85f03;">logistique</span><br>au service<br>du <span style="color: #e85f03;">e</span>-commerce</h1>
                                <button class="cta">Suivez La Commande
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                    <span class="btn-background"></span>
                  </button>
                                <img src="assets/img/introduction-visual.png" alt="Welcome">
                            </div>

                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="about">
                            <div class="about--banner">
                                <h2>Une<br>procédure<br>simple<br>et efficace</h2>
                                <div *ngIf="!indis" class="intro--banner">
                                    <button class="cta">Contactez Nous
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                              <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                            </g>
                            </svg>
                            <span class="btn-background"></span>
                          </button>
                                </div>
                                <img src="assets/img/about-visual.png" alt="About Us">
                                <div *ngIf="indis" (click)="write(0)">
                                    <h1>
                                        {{titre}}
                                    </h1>
                                    <p>
                                        {{paragraph}}
                                    </p>
                                </div>
                            </div>
                            <div class="about--options" style="max-width: 100%;">
                                <a (click)="write(1)">
                                    <h3 style="   text-shadow: 1px 3px rgba(29, 29, 29, 0.836);"> Gagnez du temps </h3>
                                </a>
                                <a (click)="write(2)">
                                    <h3 style="   text-shadow: 1px 3px rgba(29, 29, 29, 0.836);">Livrer différemment </h3>
                                </a>
                                <a (click)="write(3)">
                                    <h3 style="   text-shadow: 1px 3px rgba(29, 29, 29, 0.836);">Faites des économies</h3>
                                </a>
                                <a (click)="write(4)">
                                    <h3 style="   text-shadow: 1px 3px rgba(29, 29, 29, 0.836);">Service premium</h3>
                                </a>
                                <a (click)="write(5)">
                                    <h3 style="  text-shadow: 1px 3px rgba(29, 29, 29, 0.836);">Suivi & Assurance</h3>
                                </a>
                            </div>

                        </div>

                    </li>
                    <li class="l-section section">
                        <div class="work">
                            <h2>Qui nous ont fait confiance</h2>
                            <div class="work--lockup">
                                <ul class="slider">
                                    <li class="slider--item slider--item-left">
                                        <a href="#0">
                                            <div class="slider--item-image">
                                                <img src="assets/img/work-victory.jpg" alt="Victory">
                                            </div>
                                            <p class="slider--item-title">Decathlon</p>
                                            <p class="slider--item-description">Entreprise de vente des materiaux sportifs.</p>
                                        </a>
                                    </li>
                                    <li class="slider--item slider--item-center">
                                        <a href="#0">
                                            <div class="slider--item-image">
                                                <img src="assets/img/work-metiew-smith.jpg" alt="Metiew and Smith">
                                            </div>
                                            <p class="slider--item-title">Yves Rocher</p>
                                            <p class="slider--item-description">Yves Rocher Maroc est une entreprise de cosmétique.</p>
                                        </a>
                                    </li>
                                    <li class="slider--item slider--item-right">
                                        <a href="#0">
                                            <div class="slider--item-image">
                                                <img src="assets/img/work-alex-nowak.jpg" alt="Alex Nowak">
                                            </div>
                                            <p class="slider--item-title">I design Business</p>
                                            <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="slider--prev">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                      c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                      c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                    </g>
                    </svg>
                                </div>
                                <div class="slider--next">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="l-section section">
                        <div class="contact">
                            <div class="contact--lockup">
                                <div class="modal">
                                    <div class="modal--information">
                                        <p>Messnana , marjane park , Tanger</p>
                                        <a href="mailto:ouremail@gmail.com">Quickoo@gmail.com</a>
                                        <a href="tel:+148126287560">+48 12 628 75 60</a>
                                    </div>
                                    <ul class="modal--options">
                                        <li><a href="#0">Facebook</a></li>
                                        <li><a href="#0">Instagram</a></li>
                                        <li><a href="mailto:ouremail@gmail.com">Contactez Nous</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="hire">
                            <h2 style="padding-top: 20px;">Contact</h2>

                            <form class="work-request" name="contact" action="/done/" netlify method="POST" netlify-honeypot="bot-field">
                                <div class="work-request--options">
                                    <span class="options-a">
                      <input id="opt-1" type="checkbox" value="Stockage" name="Stockage">
                      <label for="opt-1">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                        </g>
                        </svg>
                        Stockage
                      </label>
                      <input id="opt-2" type="checkbox" value="Emballage" name="Emballage">
                      <label for="opt-2">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                        </g>
                        </svg>
                        Emballage
                      </label>
                      <input id="opt-3" type="checkbox" value="Livraison" name="Livraison">
                      <label for="opt-3">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                        </g>
                        </svg>
                        Livraison
                        
                      </label>
                    </span>
                                    <span class="options-b">
                      <input id="opt-4" type="checkbox" value="Service Client" name="Service Client">
                      <label for="opt-4">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                        </g>
                        </svg>
                        Service Client
                      </label>
                      <input id="opt-5" type="checkbox" value="Recrutement" name="Recrutement">
                      <label for="opt-5">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                        </g>
                        </svg>
                        Recrutement
                      </label>
                     
                    </span>
                                </div>
                                <div class="work-request--information">
                                    <div class="information-name">
                                        <input name="Nom" id="name" type="text" spellcheck="false">
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="information-email">
                                        <input name="Email" id="email" type="email" spellcheck="false">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <input type="submit" value="Envoyer">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav ">
        <li class="is-active"><span><a style="text-decoration: none; color:#FFF" href="/" >ACCEUIL</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Quickoo" >QUICKOO</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Tarifs" >TARIFS</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Service" >SERVICE</a></span></li>
    </ul>
</div>