<nav class="navbar" style="
padding-top: 20px;
">
    <div class="container-fluid">
        <div class="test green borderXwidth">
            <a routerLink="/contacts">
                Voir les contacts</a>
            <a href="">
                <- Retour au Site web</a>
                    <a (click)="onSignOut()">Deconnexion</a>

        </div>
    </div>
</nav>




<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-12">
            <h2 style="
            text-align: center;
            font-size: 4em;
            color: #568510;
        ">Les Demandes de devis</h2>
            <div class="list-group btnlist">
                <button style="
                background: #56851000;
                color: white;
                margin-bottom: 10px;
            " class="list-group-item " *ngFor="let devi of devis; let i = index" (click)="onViewDevis(i)">
              <h3 style="color:#568510" class="list-group-item-heading">
                {{ devi.nom }} {{devi.prenom}}
                <button class="btn btn-default pull-right" (click)="onDeleteDevis(devi)">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                </h3>
                <p class="list-group-item-text">Entreprise: {{ devi.entreprise }}</p>
                <p class="list-group-item-text">Date: {{ devi.date }}</p>

                </button>
            </div>
        </div>
    </div>
</div>