<div class="perspective effect-rotate-left">
    <div class="container">
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img width="100%" src="assets/img/logo.png" alt="Global">
                    </a>


                </header>

                <div class="intro">
                    <div class="right">
                        <h1 class="titre"><span style="color: #e85f03;">ERREUR </span>404 ...<br></h1>
                        <div class="load">
                            <div class="lien">
                                <a style="color: #666;" href="/">
                                    <i class="fa fa-long-arrow-left m-l-15" aria-hidden="true"></i> Retour au site web
                                </a>
                                <a target="_blank" href="https://www.facebook.com/DeliveryQuickoo"><img class="rs" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_gray-512.png" alt=""></a>

                                <a target="_blank" href="https://www.instagram.com/DeliveryQuickoo"><img class="rs" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_circle_gray-512.png" alt=""></a>

                                <a target="_blank" href="https://www.linkedin.com/company/quickoo/"><img class="rs" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_gray-512.png" alt=""></a>


                            </div>
                            <div class="effect">
                                <svg>
                                    <g>
                                      <path d="M 50,100 A 1,1 0 0 1 50,0"/>
                                    </g>
                                    <g>
                                      <path d="M 50,75 A 1,1 0 0 0 50,-25"/>
                                    </g>
                                    <defs>
                                      <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                        <stop offset="0%" style="stop-color:#e85f03;stop-opacity:1" />
                                        <stop offset="100%" style="stop-color:#0c0c0c;stop-opacity:1" />
                                      </linearGradient>
                                    
                                    </defs>
                                  </svg>
                            </div>

                        </div>



                    </div>

                    <div class="image">
                        <img class="pc" src="assets/img/pc.png " alt="Welcome ">

                    </div>
                </div>




            </div>
        </div>
    </div>

</div>