<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img width="100%" src="assets/img/logo.png" alt="Global">
                    </a>


                </header>

                <ul class="l-main-content main-content">
                    <li class="l-section section section--is-active">
                        <div style="padding-top:30px ;" class="intro">
                            <div class="intro--banner">
                                <h1 style="font-size: 8em;"><span style="color: #e85f03;">COMING</span><br> SOON ...<br></h1>
                                <p style="width: 50%; ">
                                    <a href="https://www.facebook.com/DeliveryQuickoo"><img class="rs" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_gray-512.png" width="8%" alt=""></a>

                                    <a href="https://www.instagram.com/quickoodelivery/"><img class="rs" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_circle_gray-512.png" width="8%" alt=""></a>

                                    <a href="https://www.instagram.com/quickoodelivery/"><img class="rs" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_gray-512.png" width="8%" alt=""></a>


                                </p>

                                <div style="padding-left:50px ;" class="image">
                                    <img width="80% " style="bottom: -30px; right: -180px;" src="assets/img/pc.png " alt="Welcome ">

                                </div>
                            </div>

                        </div>
                    </li>



                </ul>
            </div>
        </div>
    </div>

</div>