::ng-deep.mat-form-field-infix {
    border-top: .84375em solid transparent !important;
}

::ng-deep.mat-select-value {
    color: #568510 !important;
}

::ng-deep.mat-form-field-hide-placeholder .mat-select-placeholder {
    color: #568510 !important;
    -webkit-text-fill-color: transparent !important;
    transition: none;
    display: block;
}

::ng-deep.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #568510 !important;
    ;
}

::ng-deep.mat-select-value {
    color: white !important;
}


/*::ng-deep.mat-option {
    color: #568510 !important;
}*/

::ng-deep.mat-label {
    color: white !important;
}

::ng-deep.mat-form-field-label {
    color: white !important;
}

::ng-deep.mat-simple-snackbar-action {
    color: #568510 !important
}

::ng-deep.mat-select-arrow {
    color: #ffffff !important
}

::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #568510 !important
}

::ng-deep.mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #568510 !important
}

::ng-deep.mat-warn .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #568510 !important
}

::ng-deep.mat-warn .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #568510 !important;
}

::ng-deep.mat-optgroup-label {
    color: #ffffff !important;
}

::ng-deep.mat-optgroup-disabled .mat-optgroup-label {
    color: #ffffff !important;
}

::ng-deep.mat-primary .mat-pseudo-checkbox-checked,
::ng-deep.mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #568510 !important;
}

::ng-deep.mat-pseudo-checkbox-checked,
::ng-deep.mat-pseudo-checkbox-indeterminate,
::ng-deep.mat-accent .mat-pseudo-checkbox-checked,
::ng-deep.mat-accent .mat-pseudo-checkbox-indeterminate {
    background: #568510 !important;
}

::ng-deep.mat-warn .mat-pseudo-checkbox-checked,
::ng-deep.mat-warn .mat-pseudo-checkbox-indeterminate {
    background: #568510 !important;
}

::ng-deep.mat-chip.mat-standard-chip {
    background-color: #e0e0e0 !important;
    color: rgba#ffffff !important
}

::ng-deep.mat-chip.mat-standard-chip .mat-chip-remove {
    color: rgba#ffffff !important;
}

::ng-deep.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: #ffffff !important;
}

::ng-deep.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #568510 !important;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: #ffffff
}

::ng-deep.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label {
    color: #ffffff
}