<div class="perspective effect-rotate-left" *ngIf="!devis">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img width="100%" src="assets/img/logo.png" alt="Global">
                    </a>
                    <div class="nav-bar">
                        <app-navbar [nav]="3"></app-navbar>
                    </div>

                    <a class="espace" routerLink="/Auth" class="espace" style="
                    color: #FFF;
                    text-decoration: none;
                    margin: 0px 10px;
                    padding: 10px 10px;
                    z-index: 0;
                    cursor: pointer;
                    background-color: #e85f03;
                    width: auto;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 10px;
                  
                ">MON ESPACE</a>
                    <div class="header--nav-toggle">

                        <span></span>
                    </div>
                </header>
                <nav class="l-side-nav">
                    <ul class="side-nav">
                        <li class="is-active"><span>Tarif</span></li>
                        <li><span>Nos offres</span></li>
                        <li><span>Simulateur</span></li>
                        <li><span>Devis</span></li>
                        <li><span>Vos questions</span></li>
                    </ul>
                </nav>
                <ul class="l-main-content main-content">
                    <li class="l-section section section--is-active">
                        <div style="padding-top:30px ;" class="intro">
                            <div class="intro--banner">
                                <h1><span style="color: #e85f03;">PAYER</span><br> LE JUSTE <br> <span style="color: #e85f03;">PRIX</span></h1>
                                <p class="combien">
                                    Profitez de nos tarifs négociés sur l’emballage et le transport pour diminuer vos coûts. Contactez-nous pour bénéficier d’un devis personnalisé.

                                </p>
                                <img src="assets/img/price.png" alt="Welcome">
                            </div>
                            <div class="intro--options">
                                <a>
                                    <h3>Quickoo <span style="color: #e85f03;">Packaging</span></h3>
                                    <p>Notre packaging comprend la collecte de vos produits par un coursier et l'emballage par nos packaging experts.</p>
                                </a>
                                <a>
                                    <h3>Quickoo <span style="color: #e85f03;">Transport</span></h3>
                                    <p>Nous expédions vos produits en vous faisant bénéficier des tarifs les plus intéressants du marché.(Standard - Express - Point Relais).</p>
                                </a>
                                <a>
                                    <h3>Quickoo <span style="color: #e85f03;">Plateforme</span></h3>
                                    <p>Utilisez la puissance de notre gestion pour optimiser votre logistique. </p>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="work">
                            <h2>Nos Offres</h2>
                            <div class="work--lockup">
                                <ul class="slider">
                                    <li class="slider--item slider--item-left">
                                        <a>
                                            <div class="slider--item-image">
                                                <img src="assets/img/1.jpg" alt="Victory">
                                            </div>
                                            <p class="slider--item-title">Collecte, Livraison</p>
                                            <p class="slider--item-description">A partir du 17 DH.</p>
                                        </a>
                                    </li>
                                    <li class="slider--item slider--item-center">
                                        <a>
                                            <div class="slider--item-image">
                                                <img src="assets/img/2.jpg" alt="Metiew and Smith">
                                            </div>
                                            <p class="slider--item-title">Stockage</p>
                                            <p class="slider--item-description">Gratuit pour 15 jours.</p>
                                        </a>
                                    </li>
                                    <li class="slider--item slider--item-right">
                                        <a>
                                            <div class="slider--item-image">
                                                <img src="assets/img/3.jpg" alt="Alex Nowak">
                                            </div>
                                            <p class="slider--item-title">Collecte, Livraison, Emballages</p>
                                            <p class="slider--item-description">A partir du 22 DH.</p>
                                        </a>
                                    </li>
                                    <li class="slider--item">
                                        <a>
                                            <div class="slider--item-image">
                                                <img src="assets/img/4.jpg" alt="Alex Nowak">
                                            </div>
                                            <p class="slider--item-title">Collecte, Livraison,<br>Emballage, Stockage</p>
                                            <p class="slider--item-description">A partir du 22 DH.</p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="slider--prev">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                      c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                      c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                    </g>
                    </svg>
                                </div>
                                <div class="slider--next">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="about" style="max-width: 78%;     width: auto;
                        ">
                            <div class="about--banner">
                                <div class="row block">
                                    <div class="col-sm" style="padding-bottom: 20px;">
                                        <h2 id="pricing" class="payez" style="font-size:6em; margin-bottom: 0;">Payez <span style="color: #e85f03;">Moins</span>
                                        </h2>
                                        <p style="
                                        margin-bottom: 50px;
                                    ">Calculez vos coûts de préparation et d'expédition de commandes avec Quickoo.

                                        </p>


                                        <div class="row moins">

                                            <div *ngIf="selectedRegion==0" class="col-4 colone">
                                                <h4 class="tarif_title">NOM DE REGION </h4>
                                                <mat-form-field appearance="fill" class="mdina">
                                                    <mat-label>Choisissez la region: </mat-label>
                                                    <mat-select [(ngModel)]="selectedRegion" name="region">
                                                        <mat-option *ngFor="let region of regions" [value]="region.value">
                                                            {{region.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                            </div>



                                            <div *ngIf="selectedRegion == 1" class="col-4 colone">
                                                <h4 class="tarif_title">TANGER-TETOUAN <br>
                                                    <span (click)="regionChange()" style="cursor: pointer; color: #e85f03;">
                                                    -Changer la Region-
                                                </span>

                                                </h4>
                                                <mat-form-field appearance="fill" class="mdina">
                                                    <mat-label> Choisissez la ville: </mat-label>
                                                    <mat-select [(ngModel)]="selectedVille" name="ville">
                                                        <mat-option *ngFor="let ville of tanger" [value]="ville.value">
                                                            {{ville.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                            <div *ngIf="selectedRegion == 2" class="col-4 colone">
                                                <h4 class="tarif_title">GHARB-CHRARDA-BENI HSSEN <br>
                                                    <span (click)="regionChange()" style="cursor: pointer; color: #e85f03;">
                                                    -Changer la Region-
                                                </span>

                                                </h4>
                                                <mat-form-field appearance="fill" class="mdina">
                                                    <mat-label>Choisissez la ville: </mat-label>
                                                    <mat-select [(ngModel)]="selectedVille" name="ville">
                                                        <mat-option *ngFor="let ville of kenitra" [value]="ville.value">
                                                            {{ville.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>



                                            <div class="col-4 colone">
                                                <div class="testou moins">
                                                    <h4 class="tarif_title">EXPEDITION PAR POIDS
                                                    </h4>

                                                </div>
                                                <div class="moins">
                                                    <mat-slider ng-model="color.red" color="primary" class="example-margin " [max]="max " [min]="min " [step]="step " [thumbLabel]="thumbLabel " [tickInterval]="getSliderTickInterval() " [(ngModel)]="value ">
                                                    </mat-slider>
                                                    <mat-form-field class="example-margin nomarg" style="
                                                    width: 20%;
                                                    position: relative;
                                                    top: -15px;">
                                                        <mat-label>POIDS (Kg)</mat-label>
                                                        <input matInput min="0" max="50" type="number" [(ngModel)]="value">
                                                    </mat-form-field>
                                                </div>
                                            </div>



                                        </div>


                                    </div>
                                    <div class="pack" style="
                                    top: 30px;
                                    position: relative;
                                ">
                                        <div class="event col-sm">
                                            <span>#001</span>
                                            <div class="info">

                                                < 72 Heures <br/>Relais

                                            </div>
                                            <div class="price">
                                                {{tarif(0)}}
                                            </div>
                                        </div>
                                        <div class="event col-sm">
                                            <span>#002</span>
                                            <div class="info">

                                                < 48 Heures <br/>Standard
                                            </div>
                                            <div class="price">
                                                {{tarif(2)}}
                                            </div>
                                        </div>
                                        <div class="event col-sm">
                                            <span>#003</span>
                                            <div class="info">

                                                < 04 Heures <br />Express
                                            </div>
                                            <div class="price">
                                                {{tarif(8)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="play-container">

                                        <div class="row ville">

                                            <div class="col-4">
                                                <h4 class="tarif_title">TYPE EMBALLAGE</h4>
                                                <mat-form-field appearance="fill" class="emballa">
                                                    <mat-label>Choisissez votre type: </mat-label>
                                                    <mat-select [(ngModel)]="selectedValue" name="emballage">
                                                        <mat-option *ngFor="let emballage of emballages" [value]="emballage.value">
                                                            {{emballage.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                            </div>
                                            <div class="col-4" style="
                                            padding-left: 30px;">
                                                <h4 class="tarif_title">EMBALLAGE </h4>
                                                <mat-radio-group [(ngModel)]="typeEmb" [disabled]="selectedValue==0">
                                                    <mat-radio-button value="1.5">Personnalisé</mat-radio-button>
                                                    <mat-radio-button value="0">Classique</mat-radio-button>
                                                </mat-radio-group>
                                            </div>



                                            <div class="col-4 stock">
                                                <div>
                                                    <h3>STOCKAGE</h3>
                                                </div>
                                                <div style="cursor: pointer;" (mouseover)="changeText=true" (mouseout)="changeText=false">
                                                    <h3><span style="color: #e85f03;">Gratuit</span> pour 15 jours</h3>
                                                </div>
                                                <!--     <div class="download">
                                                    <a (click)="telecharger()">Telecharger le Devis</a>
                                                </div> -->

                                            </div>

                                            <div *ngIf="changeText" class="storage-prices-box" style="display: flex;">
                                                <div class="storage-price">
                                                    <div class="storage-label"><span class="duree">&lt; 2 sem.</span></div>
                                                    <div class="storage-value blue"><span class="taxe" style="color: #e85f03;">Gratuit</span></div>
                                                </div>
                                                <div class="storage-price">
                                                    <div class="storage-label"><span class="duree">2s - 3m</span></div>
                                                    <div class="storage-value"><span class="taxe">180 MAD/Kg</span></div>
                                                </div>
                                                <div class="storage-price">
                                                    <div class="storage-label"><span class="duree">3 - 12 m</span></div>
                                                    <div class="storage-value"><span class="taxe">500 MAD/Kg</span></div>
                                                </div>
                                                <div class="storage-price">
                                                    <div class="storage-label"><span class="duree">12+ m</span></div>
                                                    <div class="storage-value"><span class="taxe">1000 MAD/Kg</span></div>
                                                </div>
                                            </div>

                                        </div>
                                        <!--  <section class="example-section">
                                            <mat-form-field class="example-margin">
                                                <mat-label>Value</mat-label>
                                                <input matInput type="number" [(ngModel)]="value">
                                            </mat-form-field>
                                            <mat-form-field class="example-margin">
                                                <mat-label>Min value</mat-label>
                                                <input matInput type="number" [(ngModel)]="min">
                                            </mat-form-field>
                                            <mat-form-field class="example-margin">
                                                <mat-label>Max value</mat-label>
                                                <input matInput type="number" [(ngModel)]="max">
                                            </mat-form-field>
                                            <mat-form-field class="example-margin">
                                                <mat-label>Step size</mat-label>
                                                <input matInput type="number" [(ngModel)]="step">
                                            </mat-form-field>
                                        </section>
 -->


                                    </div>



                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="hire" style="
                        width: 900px;
                    ">
                            <h2 style="padding-top: 50px;">Demande de Devis</h2>

                            <form class="work-request" [formGroup]="devisForm" (ngSubmit)="onSaveDevis()">

                                <div class="work-request--information" style="
                                margin-bottom: 30px;
                            ">
                                    <div class="information-name" style="width: 30%; font-size: 1em;">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Entreprise*</mat-label>
                                            <input matInput placeholder="Ex. Decathlon" formControlName="entreprise">
                                        </mat-form-field>
                                    </div>
                                    <div class="information-email" style="width: 30%; font-size: 1em;">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Ville*</mat-label>
                                            <input matInput placeholder="Ex. Tanger" formControlName="ville">
                                        </mat-form-field>
                                    </div>
                                    <div class="information-email" style="width: 30%; font-size: 1em;">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Téléphone*</mat-label>
                                            <span matPrefix>+212 &nbsp;</span>
                                            <input type="tel" matInput placeholder="666-555-123" formControlName="telephone">
                                            <mat-icon matSuffix>mode_edit</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="work-request--information" style="
                                margin-bottom: 30px;
                            ">
                                    <div class="information-name" style="width: 30%; font-size: 1em;">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nom*</mat-label>
                                            <input matInput placeholder="Votre nom" formControlName="nom">
                                        </mat-form-field>
                                    </div>
                                    <div class="information-email" style="width: 30%; font-size: 1em;">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Prénom*</mat-label>
                                            <input matInput placeholder="Votre Prenom" formControlName="prenom">
                                        </mat-form-field>
                                    </div>
                                    <div class="information-email" style="width: 30%; font-size: 1em;">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Adresse Email</mat-label>
                                            <input matInput formControlName="email" [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                Veuillez entrer une adresse Email validé
                                            </mat-error>

                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="work-request--information" style="
                                margin-bottom: 30px;
                            ">
                                    <div class="information-name" style="width: 30%; font-size: 1em;">
                                        <mat-form-field appearance="fill" style="
                                        width: 100%;
                                    ">
                                            <mat-label>Nombre de colis / mois</mat-label>
                                            <mat-select [(value)]="colis" formControlName="colis">
                                                <mat-option>Aucun</mat-option>
                                                <mat-option value="not_started">Je vais lancer mon activité très prochainement</mat-option>
                                                <mat-option value="0 - 200">0 - 200</mat-option>
                                                <mat-option value="200-500">200 - 500</mat-option>
                                                <mat-option value="500-1000">500 - 1000</mat-option>
                                                <mat-option value="1000-2500">1000 - 2500</mat-option>
                                                <mat-option value="2500-5000">2500 - 5000</mat-option>
                                                <mat-option value="5000+">Plus de 5000
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="information-email" style="width: 30%; font-size: 1em;">
                                        <mat-form-field appearance="fill" style="
                                        width: 100%;
                                    ">
                                            <mat-label>Type de produits</mat-label>
                                            <mat-select [(value)]="produit" formControlName="produit">
                                                <mat-option>Aucun</mat-option>
                                                <mat-option value="Vêtements">Vêtements</mat-option>
                                                <mat-option value="shoes">Chaussures</mat-option>
                                                <mat-option value="Bijoux">Bijoux et accessoires</mat-option>
                                                <mat-option value="cosmétiques">Produit cosmétiques</mat-option>
                                                <mat-option value="high-tech">Produits High Tech</mat-option>
                                                <mat-option value="Décoration">Décoration</mat-option>
                                                <mat-option value="Librairie">Librairie</mat-option>
                                                <mat-option value="Maroquinerie">Maroquinerie</mat-option>
                                                <mat-option value="Végétaux">Végétaux</mat-option>
                                                <mat-option value="Autres">Autres</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="information-email" style="width: 30%; font-size: 1em;">
                                        <mat-form-field appearance="fill" style="
                                        width: 100%;
                                    ">
                                            <mat-label>Choisissez le service</mat-label>
                                            <mat-select [(value)]="service" formControlName="service">
                                                <mat-option>Aucun</mat-option>
                                                <mat-option value="option1">Stockage</mat-option>
                                                <mat-option value="option1">Collecte, expédition</mat-option>
                                                <mat-option value="option2">Collecte, emballage, expédition</mat-option>
                                                <mat-option value="option2">Collecte, stockage, expédition</mat-option>
                                                <mat-option value="option2">Collecte, stockage, emballage, expédition</mat-option>

                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="work-request--information" style="
                                margin-bottom: 30px;
                            ">
                                    <div class="information-name" style="width: 100%; font-size: 1em;">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Décrivez nous votre besoin</mat-label>
                                            <textarea formControlName="commentaire" matInput placeholder="Ex. Lorem ipsum dolor sit amet consectetur adipisicing elit."></textarea>
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class="btnForm">

                                    <input type="reset" value="Suprimer" class="reset">
                                    <button type="submit" [disabled]="devisForm.invalid" [ngClass]="!devisForm.invalid ? 'reset' : 'btn-invalidFrom '">
                                        Envoyer
                                    </button>
                                </div>
                            </form>
                        </div>





                    </li>
                    <li class="l-section section ">
                        <div class="qa-contenu">
                            <div class="qa-titre">
                                <h1>
                                    Vos questions fréquentes

                                </h1>
                            </div>
                            <div class="qa-haut qa-flex">
                                <div class="qa">
                                    <div class="qa-logo">
                                    </div>
                                    <div class="qa-text">
                                        <h2>Y-a-t-il des frais d'inscription ?</h2>
                                        <p>
                                            Non, Quickoo facture uniquement les frais d'expédition de commande.
                                        </p>
                                    </div>
                                </div>
                                <div class="qa">
                                    <div class="qa-logo">
                                    </div>
                                    <div class="qa-text">
                                        <h2>Les coûts de stockage diffèrent-ils en fonction du mode d'entreposage (palettes, étagères, boîtes..) ?</h2>
                                        <p>
                                            Non, tous vos SKUs sont pesés et mesurés et disposent d'un coût de stockage unique, quel que soit le mode d'entreposage.
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="qa-milieu qa-flex">
                                <div class="qa">
                                    <div class="qa-logo">
                                    </div>
                                    <div class="qa-text">
                                        <h2>Quickoo facture-t-il ses cartons ?</h2>
                                        <p>
                                            Oui, avec Quickoo, chaque dimension de carton a un coût.
                                        </p>
                                    </div>
                                </div>
                                <div class="qa">
                                    <div class="qa-logo">
                                    </div>
                                    <div class="qa-text">
                                        <h2>Dois-je payer l'intégration de ma boutique e-commerce ?</h2>
                                        <p>
                                            La première intégration est gratuite et assistée par nos développeur pour s'assurer que tout fonctionne correctement.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class=" qa-flex">
                                <div class="qa-bas">
                                    <div class="qa-logo">
                                    </div>
                                    <div class="qa-text">
                                        <h2>Quickoo facture-t-il les fournitures d'emballage et de calage des produits ?</h2>
                                        <p>
                                            Non ! Scotch, papier bulle... Tout est pris en charge par Quickoo !
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav ">
        <li><span><a style="text-decoration: none; color:#FFF" href="/" >ACCEUIL</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Quickoo" >QUICKOO</a></span></li>
        <li class="is-active"><span><a style="text-decoration: none; color:#FFF" href="/Tarifs" >TARIFS</a></span></li>
        <li><span><a style="text-decoration: none; color:#FFF" href="/Service" >SERVICE</a></span></li>
    </ul>
</div>


<div *ngIf="devis" style="
position: relative;
width: 21cm;  
height: 29.7cm; 
margin: 0 auto; 
color: #001028;
background: #FFFFFF; 
font-family: Arial, sans-serif; 
font-size: 12px; 
font-family: Montserrat;
padding: 0px 20px;
">
    <header class="clearfix">
        <div (click)="devis=!devis" id="logo">
            <img src="assets/img/icon.png">
        </div>
        <h1 style="
        border-top: 1px solid  #5D6975;
        border-bottom: 1px solid  #5D6975;
        color: #5D6975;
        font-size: 2.4em;
        line-height: 1.4em;
        font-weight: normal;
        text-align: center;
        margin: 0 0 20px 0;
        ">Devis</h1>
        <div id="company" class="clearfix">
            <div>Company Name</div>
            <div>455 Foggy Heights,<br /> AZ 85004, US</div>
            <div>(602) 519-0450</div>
            <div><a class="lienPDF" href="mailto:company@example.com">company@example.com</a></div>
        </div>
        <div id="project">
            <div><span>PROJECT</span> Website development</div>
            <div><span>CLIENT</span> John Doe</div>
            <div><span>ADDRESS</span> 796 Silver Harbour, TX 79273, US</div>
            <div><span>EMAIL</span> <a class="lienPDF" href="mailto:john@example.com">john@example.com</a></div>
            <div><span>DATE</span>{{ ajourd | date : 'shortDate'}}</div>
            <div><span>DUE DATE</span> September 17, 2015</div>
        </div>
    </header>
    <main>
        <table id="devis">
            <thead>
                <tr>
                    <th class="service">SERVICE</th>
                    <th class="desc">DESCRIPTION</th>
                    <th>PRICE</th>
                    <th>QTY</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="service">Design</td>
                    <td class="desc">Creating a recognizable design solution based on the company's existing visual identity</td>
                    <td class="unit">$40.00</td>
                    <td class="qty">26</td>
                    <td class="total">$1,040.00</td>
                </tr>
                <tr>
                    <td class="service">Development</td>
                    <td class="desc">Developing a Content Management System-based Website</td>
                    <td class="unit">$40.00</td>
                    <td class="qty">80</td>
                    <td class="total">$3,200.00</td>
                </tr>
                <tr>
                    <td class="service">SEO</td>
                    <td class="desc">Optimize the site for search engines (SEO)</td>
                    <td class="unit">$40.00</td>
                    <td class="qty">20</td>
                    <td class="total">$800.00</td>
                </tr>
                <tr>
                    <td class="service">Training</td>
                    <td class="desc">Initial training sessions for staff responsible for uploading web content</td>
                    <td class="unit">$40.00</td>
                    <td class="qty">4</td>
                    <td class="total">$160.00</td>
                </tr>
                <tr>
                    <td colspan="4">SUBTOTAL</td>
                    <td class="total">$5,200.00</td>
                </tr>
                <tr>
                    <td colspan="4">TAX 25%</td>
                    <td class="total">$1,300.00</td>
                </tr>
                <tr>
                    <td colspan="4" class="grand total">GRAND TOTAL</td>
                    <td class="grand total">$6,500.00</td>
                </tr>
            </tbody>
        </table>
        <div id="notices">
            <div>NOTICE:</div>

            <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
        </div>
    </main>
    <footer>
        Invoice was created on a computer and is valid without the signature and seal.
    </footer>
</div>