<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img width="20%" src="assets/img/logo.png" alt="Global">
                    </a>
                    <app-navbar></app-navbar>
                    <div class="header--nav-toggle">
                        <span></span>
                    </div>
                </header>
                <nav class="l-side-nav">
                    <ul class="side-nav">
                        <li class="is-active"><span>C'est qui Quickoo ?</span></li>
                        <li><span>Nos services</span></li>
                        <li><span>Nos clients</span></li>
                        <li><span>Contact</span></li>
                        <li><span>Hire us</span></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <ul class="outer-nav">
        <li class="is-active">C'est qui Quickoo ?</li>
        <li>Nos Services</li>
        <li>Nos Clients</li>
        <li>Contact</li>
        <li>Hire us</li>
    </ul>
</div>