<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img width="100%" src="assets/img/logo.png" alt="Global">
                    </a>
                    <app-navbar [nav]="3"></app-navbar>


                    <div class="header--nav-toggle">

                        <span></span>
                    </div>
                </header>
                <nav class="l-side-nav">
                    <ul class="side-nav">
                        <li class="is-active"><span>Combien ?</span></li>
                        <li><span>Nos offres</span></li>
                        <li><span>Nos Tarifs</span></li>
                        <li><span>Contact</span></li>
                        <li><span>Hire us</span></li>
                    </ul>
                </nav>
                <ul class="l-main-content main-content">
                    <li class="l-section section section--is-active">
                        <div style="padding-top:30px ;" class="intro">
                            <div class="intro--banner">
                                <h1><span style="color: #e85f03;">PAYER</span><br> LE JUSTE <br> <span style="color: #e85f03;">PRIX</span></h1>
                                <p style="width: 50%; ">
                                    Profitez de nos tarifs négociés sur l’emballage et le transport pour diminuer vos coûts. Contactez-nous pour bénéficier d’un devis personnalisé.

                                </p>
                                <img src="assets/img/price.png" alt="Welcome">
                            </div>
                            <div class="intro--options">
                                <a href="#0">
                                    <h3>Quickoo <span style="color: #e85f03;">Packaging</span></h3>
                                    <p>Notre packaging comprend la collecte de vos produits par un coursier et l'emballage par nos packaging experts.</p>
                                </a>
                                <a href="#0">
                                    <h3>Quickoo <span style="color: #e85f03;">Transport</span></h3>
                                    <p>Nous expédions vos produits en vous faisant bénéficier des tarifs les plus intéressants du marché.(Standard - Express - Point Relais).</p>
                                </a>
                                <a href="#0">
                                    <h3>Quickoo <span style="color: #e85f03;">Plateforme</span></h3>
                                    <p>Utilisez la puissance de notre gestion pour optimiser votre logistique. </p>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="work">
                            <h2>Nos Offres</h2>
                            <div class="work--lockup">
                                <ul class="slider">
                                    <li class="slider--item slider--item-left">
                                        <a href="#0">
                                            <div class="slider--item-image">
                                                <img src="assets/img/1.jpg" alt="Victory">
                                            </div>
                                            <p class="slider--item-title">Collecte, Livraison</p>
                                            <p class="slider--item-description">Entreprise de vente des materiaux sportifs.</p>
                                        </a>
                                    </li>
                                    <li class="slider--item slider--item-center">
                                        <a href="#0">
                                            <div class="slider--item-image">
                                                <img src="assets/img/2.jpg" alt="Metiew and Smith">
                                            </div>
                                            <p class="slider--item-title">Stockage</p>
                                            <p class="slider--item-description">Yves Rocher Maroc est une entreprise de cosmétique.</p>
                                        </a>
                                    </li>
                                    <li class="slider--item slider--item-right">
                                        <a href="#0">
                                            <div class="slider--item-image">
                                                <img src="assets/img/3.jpg" alt="Alex Nowak">
                                            </div>
                                            <p class="slider--item-title">Collecte, Livraison, Emballages</p>
                                            <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                                        </a>
                                    </li>
                                    <li class="slider--item slider--item-right">
                                        <a href="#0">
                                            <div class="slider--item-image">
                                                <img src="assets/img/4.jpg" alt="Alex Nowak">
                                            </div>
                                            <p class="slider--item-title">Collecte, Livraison, Emballage, Stockage</p>
                                            <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="slider--prev">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                      c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                      c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                    </g>
                    </svg>
                                </div>
                                <div class="slider--next">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="about">
                            <div class="about--banner">
                                <div class="row" style="display: flex; justify-content: space-between;">
                                    <div class="col-sm">
                                        <h2 id="pricing" class="payez">Payez Moins
                                        </h2>
                                        <p>Calculez vos coûts de préparation et d'expédition de commandes avec Quickoo.

                                        </p>
                                        <div class="row" style="display: flex ;justify-content: space-between;">
                                            <div class="col-4">
                                                <h4>TYPE EMBALLAGE</h4>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Choisissez votre type: </mat-label>
                                                    <mat-select [(ngModel)]="selectedValue" name="emballage">
                                                        <mat-option *ngFor="let emballage of emballages" [value]="emballage.value">
                                                            {{emballage.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <p>Prix Emballage : {{selectedValue}} MAD</p>

                                            </div>
                                            <div *ngIf="selectedValue!=0" class="col-4">
                                                <h4>EMBALLAGE : {{typeEmb }}</h4>
                                                <mat-radio-group [(ngModel)]="typeEmb">
                                                    <mat-radio-button value="10">Personnalisé</mat-radio-button>
                                                    <mat-radio-button value="0">Classique</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="pack">
                                        <div class="event col-sm">
                                            <span>#001</span>
                                            <div class="info">
                                                Relais J+3 <br />Relais

                                            </div>
                                            <div class="price">
                                                {{value + selectedValue + toNumber(typeEmb*selectedValue/selectedValue)}} MAD
                                            </div>
                                        </div>
                                        <div class="event col-sm">
                                            <span>#002</span>
                                            <div class="info">
                                                Relais J+2 <br />Standard
                                            </div>
                                            <div class="price">
                                                {{value + selectedValue + toNumber(typeEmb*selectedValue/selectedValue) + 10}} MAD
                                            </div>
                                        </div>
                                        <div class="event col-sm">
                                            <span>#003</span>
                                            <div class="info">
                                                Relais J+1 <br />Express
                                            </div>
                                            <div class="price">
                                                {{(value + selectedValue +toNumber(typeEmb*selectedValue/selectedValue)) * 2}} MAD
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="play-container">

                                        <div class="row" style="display: flex; justify-content: space-between;">


                                            <div class="col-4" style="width : 30%">
                                                <h4>LA VILLE </h4>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Ville</mat-label>
                                                    <mat-select>
                                                        <mat-option>None</mat-option>
                                                        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4" style="width : 30%">
                                                <div class="testou" style="display: flex;  justify-content: space-between;">
                                                    <h4>OBJETS PAR COMMANDE
                                                    </h4>
                                                    <mat-form-field class="example-margin" style="width: 30%;">
                                                        <mat-label>Value</mat-label>
                                                        <input matInput type="number" [(ngModel)]="value">
                                                    </mat-form-field>
                                                </div>
                                                <mat-slider ng-model="color.red" color="primary" class="example-margin " [max]="max " [min]="min " [step]="step " [thumbLabel]="thumbLabel " [tickInterval]="getSliderTickInterval() " [(ngModel)]="value ">
                                                </mat-slider>
                                            </div>
                                            <div (mouseover)="changeText=true" (mouseout)="changeText=false" class="col-4" style="     height: 50%;
                                             margin-left:80px; text-align:center; display:flex;justify-content: space-around; width: 40%;">
                                                <div>
                                                    <h3>STOCKAGE</h3>
                                                </div>
                                                <div>
                                                    <h3><span style="color: #e85f03;">Gratuit</span> pour 15 jours</h3>
                                                </div>
                                            </div>
                                            <div *ngIf="changeText" class="storage-prices-box" style="display: flex;">
                                                <div class="storage-price">
                                                    <div class="storage-label"><span class="duree">&lt; 2 sem.</span></div>
                                                    <div class="storage-value blue"><span class="taxe" style="color: #e85f03;">Gratuit</span></div>
                                                </div>
                                                <div class="storage-price">
                                                    <div class="storage-label"><span class="duree">2s - 3m</span></div>
                                                    <div class="storage-value"><span class="taxe">18€/m³/m</span></div>
                                                </div>
                                                <div class="storage-price">
                                                    <div class="storage-label"><span class="duree">3 - 12 m</span></div>
                                                    <div class="storage-value"><span class="taxe">50€/m³/m</span></div>
                                                </div>
                                                <div class="storage-price">
                                                    <div class="storage-label"><span class="duree">12+ m</span></div>
                                                    <div class="storage-value"><span class="taxe">100€/m³/m</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  <section class="example-section">
                                            <mat-form-field class="example-margin">
                                                <mat-label>Value</mat-label>
                                                <input matInput type="number" [(ngModel)]="value">
                                            </mat-form-field>
                                            <mat-form-field class="example-margin">
                                                <mat-label>Min value</mat-label>
                                                <input matInput type="number" [(ngModel)]="min">
                                            </mat-form-field>
                                            <mat-form-field class="example-margin">
                                                <mat-label>Max value</mat-label>
                                                <input matInput type="number" [(ngModel)]="max">
                                            </mat-form-field>
                                            <mat-form-field class="example-margin">
                                                <mat-label>Step size</mat-label>
                                                <input matInput type="number" [(ngModel)]="step">
                                            </mat-form-field>
                                        </section>
 -->



                                    </div>



                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="contact ">
                            <div class="contact--lockup ">
                                <div class="modal ">
                                    <div class="modal--information ">
                                        <p>Messnana , marjane park , Tanger</p>
                                        <a href="mailto:ouremail@gmail.com ">Quickoo@gmail.com</a>
                                        <a href="tel:+148126287560 ">+48 12 628 75 60</a>
                                    </div>
                                    <ul class="modal--options ">
                                        <li><a href="#0 ">Facebook</a></li>
                                        <li><a href="#0 ">Instagram</a></li>
                                        <li><a href="mailto:ouremail@gmail.com ">Contactez Nous</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section ">
                        <div class="hire ">
                            <h2>Contact</h2>
                            <!-- checkout formspree.io for easy form setup -->

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav ">
        <li class="is-active"><span>Combien ?</span></li>
        <li><span>Nos offres</span></li>
        <li><span>Nos Tarifs</span></li>
        <li>Contact</li>
        <li>Hire us</li>
    </ul>
</div>